IHOLE_INTERFACE=eth0
IPV4_ADDRESS={{ ip_start }}.{{ hostvars[ansible_hostname]['ipa']['eth0']['ip'] }}/{{ prefix }}
IPV6_ADDRESS=
INSTALL_WEB_INTERFACE=true
QUERY_LOGGING=true
PIHOLE_DNS_1=8.8.8.8
PIHOLE_DNS_2=8.8.4.4
DNS_FQDN_REQUIRED=false
DNS_BOGUS_PRIV=false
DNSSEC=false
REV_SERVER=false
WEBPASSWORD=
BLOCKING_ENABLED=false
DHCP_ACTIVE=true
DHCP_START={{ ip_start }}.{{ dhcp_start }}
DHCP_END={{ ip_start }}.{{ dhcp_end }}
DHCP_ROUTER=10.135.155.4
DHCP_LEASETIME=24
PIHOLE_DOMAIN=lan
DHCP_IPv6=false
DHCP_rapid_commit=false
