Description='Wired connection'
Interface="{{ item.key }}"
Connection=ethernet
IP=dhcp
ExcludeAuto=no
IP=static
 ExcludeAuto=no
Address=('{{ ip_start }}.{{ item.value['ip'] }}/{{ ip_cidr }}')
Gateway='{{ gateway }}'
DNS=('{{ dns }}', '8.8.8.8')
