---
#      - waypipe
#      - wdisplays

# - name: Install packages for desktop Wayland environment
#   kewlfft.aur.aur:
#     name:
- name: Install desktop packages
  community.general.pacman:
    name:
      - chromium
      - dmenu
      - dmidecode
      - firefox
      - libreoffice
      - yubico-c
      - yubico-c-client
      - yubikey-manager
      - yubikey-personalization
    extra_args: --noconfirm
    update_cache: yes

- name: Install wayland packages
  community.general.pacman:
    name:
      - grim
      - sway
      - swaybg
      - swayidle
      - swayimg
      - swaylock
      - waybar
      - xorg-xwayland
      - zathura
      - zathura-pdf-poppler
  when: aa_display_type == 'wayland'

- name: Install X11 packages
  community.general.pacman:
    name:
      - i3blocks
      - i3status
      - i3-wm
      - xorg
      - xorg-xinit
  when: aa_display_type == 'x11'

- name: Tex
  kewlfft.aur.aur:
    name:
      - texlive-basic
      - texlive-bin
      - texlive-binextra
      - texlive-latex
      - texlive-latexextra
      - texlive-plaingeneric

- name: Printing
  block:
    - name: Install cups
      community.general.pacman:
        name:
          - cups
        state: present

    - name: Start CUPS service
      ansible.builtin.systemd:
        state: started
        enabled: true
        name: cups

    # - name: Add printers
    #   ansible.builtin.command:
    #     cmd:
    #       lpadmin -p "{{ item.name }}" -E -v "ipp://{{ item.hostname }}/ipp/print" -m everywhere
    #   loop:
    #     "{{ printers }}"

    # - name: Set default printer
    #   ansible.builtin.command:
    #     cmd:
    #       lpadmin -d "{{ item.name }}"
    #   loop:
    #     "{{ printers }}"
    #   when:
    #     item.default == true
