---
# Stuff that all Arch Linux installations need.
  # See: https://github.com/ansible-collections/community.general/issues/6290
- name: Install base-devel for AUR and other stuff 1a
  community.general.pacman:
    name:
      - make
      - fakeroot
      - patch
    state: present
  tags:
    - install

- name: Install base-devel for AUR and other stuff 2
  community.general.pacman:
    name:
      - base-devel
    state: present
  tags:
    - install

- name: Make AUR build user
  ansible.builtin.user:
    name: aur_builder
    create_home: yes
    group: wheel

- name: Set up remote_tmp dir
  ansible.builtin.file:
    path: /home/aur_builder/.ansible/tmp
    state: directory
    owner: aur_builder
    group: wheel
    mode: 0755

- name: sudo for aur_builder
  ansible.builtin.lineinfile:
    path: /etc/sudoers.d/11-install-aur-builder
    line: 'aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman'
    create: yes
    validate: 'visudo -cf %s'

- name: AUR installs
  block:
    - name: Remove old yay
      community.general.pacman:
        name:
          yay
        state: removed

    - name: get yay
      kewlfft.aur.aur:
        use: makepkg
        name: yay-bin
        skip_pgp_check: yes
      become: yes
      become_user: aur_builder
  tags:
    - install

- name: Make sure package updating is ready
  kewlfft.aur.aur:
    upgrade: yes
  become: yes
  become_user: aur_builder

- name: Rank Arch mirrors
  block:
    - name: Install the reflector package (for rankmirrors)
      community.general.pacman:
        name:
          - reflector
        update_cache: yes
    - name: filter the fastest mirrors that support HTTPS
      ansible.builtin.shell: reflector --verbose --latest 10 --country "{{ reflector_countries }}" --sort rate --save /etc/pacman.d/mirrorlist
  tags:
    - install

- name: install and update basic packages
  community.general.pacman:
    name:
      - a2ps
      - acpi
      - alacritty
      - bind
      - bash-completion
      - btrfs-progs
      - cmake
      - doas
      - emacs
      - git
      - gnupg
      - htop
      - lsof
      - man
      - pkgconf
      - python-pip
      - python-pipx
      - python-setuptools
      - rsync
      - starship
      - syncthing
      - tmux
      - unzip
      - wget
  tags:
    - install

- name: Fonts
  community.general.pacman:
    name:
      - noto-fonts
      - noto-fonts-emoji
      - noto-fonts-extra
      - terminus-font
      - ttf-bitstream-vera
      - ttf-dejavu
      - ttf-fira-code
      - ttf-firacode-nerd
      - ttf-font-awesome
      - ttf-inconsolata
  tags:
    - install

- name: For emacs, install and update basic packages
  kewlfft.aur.aur:
    name:
      - emacs
      - aspell
      - aspell-en
      - ansible-runner
  become: yes
  become_user: aur_builder
  tags:
    - install

- name: Other AUR packages
  kewlfft.aur.aur:
    name:
      - ansible-runner
  become: yes
  become_user: aur_builder
  tags:
    - install

# Thinking about
   # - interception-tools
   # - interception-dual-function-keys
   # systemctl enable --now udevmon
   # from:
   #   https://emacsredux.com/blog/2020/07/05/remap-enter-to-control-in-gnu-linux-2020-edition/

- name: Turn off the GD bell
  ansible.builtin.lineinfile:
    path: /etc/inputrc
    regexp: '^#set bell-style none'
    line: set bell-style none

