---
- name: Install dev packages
  community.general.pacman:
    name:
      - ansible
      - ansible-lint
      - bind-tools
      - gnupg
      - ispell
      - mlocate
      - python
      - python-pipx
      - texinfo
      - the_silver_searcher
      - valgrind
      - which
    update_cache: yes

- name: Install dev packages from aur
  kewlfft.aur.aur:
    use: makepkg
    name:
      - vagrant
      - python2
    update_cache: yes
    skip_pgp_check: yes
  become: yes
  become_user: aur_builder

# - name: Python setup
#   block:
#     - name: Set up pipx
#       command: python3 -m pipx ensurepath

#     # - name: Install Pypi packages that are not in Arch
#     #   pip:
#     #     name: some-pip-package

#   become: true

- name: Dev setup
  block:
    - name: Set git global configs
      block:
        - name: Set git user email
          community.general.git_config:
            name: user.email
            scope: global
            value: '{{ git_user_email }}'
          register: gubber

        - name: debug
          ansible.builtin.debug:
            msg: 'return value is {{ gubber }}'

        - name: Set git user name
          community.general.git_config:
            name: user.name
            scope: global
            value: '{{ git_user_fullname }}'

      become: true
      become_user: "{{ user_name }}"
