#!/bin/bash

set -e
rm -f "{{ rpi_image_name }}"
fallocate -l {{ rpi_image_size }} {{ rpi_image_name }}

loopdev=$(losetup --show -f {{ rpi_image_name }})

sfdisk $loopdev <<EOF
size=      409600, type=c
,
EOF

partprobe $loopdev

loopdev=$(losetup -P --show -f {{ rpi_image_name }})

mkfs.vfat -F32 ${loopdev}p1
mkfs.ext4 ${loopdev}p2

mount ${loopdev}p2 {{ rpi_mount_point }}
mkdir {{ rpi_mount_point }}/boot
mount ${loopdev}p1 {{ rpi_mount_point }}/boot

echo "Copying ArchLinux image to image file"
tar xpf "{{ rpi_arch_tgz }}" -C {{ rpi_mount_point }}


# Setup base IP config
cat <<EOF >"{{ rpi_mount_point }}/etc/systemd/network/eth0.network"
[Match]
Name=eth0

[Network]
Address={[ ip_start }}.{{ base_wired_addr }}/{{ ip_cidr }}
Gateway={{ gateway }}
DNS={{ dns }}
EOF

sync
umount {{ rpi_mount_point }}/boot
umount {{ rpi_mount_point }}

losetup -D
